.react-datepicker-wrapper {
  width: 100%;
  margin-bottom: 15px;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker-wrapper input {
  width: 100%;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}

h1 {
  padding-left: 15px;
}

table {
  border: 1px solid #ddd;
}

.record-list span {
  font-size: 30px;
  font-weight: bold;
}

.date-filter {
  padding: 15px;
}

.date-filter h4 {
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
}

.date-filter .main-filter-area {
  padding: 5px 10px;
  border: 1px solid #ddd;
  height: 120px;
}
